page-scan {
    button.options {
        padding: 100px !important;
        margin: auto !important;
        display: block !important;
    }
    p.error_txt{
        text-align: center;
        color: #f53d3d;
    }
}
