page-new {
  
    ion-textarea {
        background-color: #eee;
        border: 2px solid #aaa;
        border-radius: 5px;
        padding: 10px;
    }
     p.error_txt{
        text-align: center;
        color: #f53d3d;
    }

}
